@font-face {
  font-family: 'Stem';
  src: url('fonts/Stem/Stem-Regular.eot');
  src: url('fonts/Stem/Stem-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Stem/Stem-Regular.woff2') format('woff2'),
    url('fonts/Stem/Stem-Regular.woff') format('woff'),
    url('fonts/Stem/Stem-Regular.ttf') format('truetype'),
    url('fonts/Stem/Stem-Regular.svg#Stem-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('fonts/Stem/Stem-Bold.eot');
  src: url('fonts/Stem/Stem-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Stem/Stem-Bold.woff2') format('woff2'),
    url('fonts/Stem/Stem-Bold.woff') format('woff'),
    url('fonts/Stem/Stem-Bold.ttf') format('truetype'),
    url('fonts/Stem/Stem-Bold.svg#Stem-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}