.products {
  margin-bottom: rem-calc(50);
}

.product {
  margin-bottom: rem-calc(25);
  padding: 2rem;
  border-radius: 1rem;
  background-color: $white;
  .thumbnail {
    position: relative;
    margin-bottom: rem-calc(50);
    .label {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: rem-calc(10) 1rem;
      border-radius: .25rem;
      font-size: $body-font-size;
      color: $white;
    }
  }
  .thumbnailOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba($white, .5);
    .actions {
      position: absolute;
      top: 0;
      left: 0;
    }
    .action {
      padding: 0;
      font-size: rem-calc(26);
      background-color: transparent;
      & + .action {
        margin-left: rem-calc(30);
      }
    }
    .sizes {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
    }
    .size {
      padding: 0.5rem 1rem;
      border-radius: rem-calc(4);
      font-size: rem-calc(10);
      text-transform: uppercase;
      color: $white;
      background-color: $black;
      & + .size {
        margin-left: .25rem;
      }
      &:hover {
        color: $white;
        background-color: rgba($black, .8);
      }
    }
  }
  .heading {
    margin-bottom: rem-calc(30);
    .type {
      display: block;
    }
  }
  .price {
    position: relative;
    font-size: rem-calc(16);
    text-transform: uppercase;
    .previous {
      position: absolute;
      top: 50%;
      right: 0;
      text-decoration: line-through;
      transform: translateY(-50%);
      color: $secondary-color;
    }
  }
  &:hover {
    transform: scale(1.05);
    transition: .2s transform linear;
    .thumbnail {
      img {
        filter: blur(.2rem);
        transition: .2s filter linear;
      }
    }
    .thumbnailOverlay {
      visibility: visible;
      opacity: 1;
      transition: 0s visibility linear, .2s opacity ease-in;
    }
  }
}